.root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.router-body {
	overflow: auto;
	padding-block: 6px;
	padding-inline: 12px;
}

.page-title {
	font-size: 24px;
	color: #555555;
}
